$blue: rgb(14, 188, 231);
$green: rgb(41, 230, 182);
$yellow: rgb(235, 218, 63);
$pink: rgb(189, 111, 165);
$background: #e9eff1;
$red: rgb(255, 0, 85);
$color: rgb(0, 0, 0);
$border: rgb(129, 138, 150);
$silver: rgb(195, 202, 211);
$grey: rgb(107, 117, 126);

$dark: rgb(31, 32, 32);
$dark-strong: rgb(19, 20, 20);
$dark-second: rgb(55, 56, 56);
$dark-border: rgb(66, 65, 65);
$dark-color: rgb(216, 219, 219);
$placeholder: rgba($dark-color, 0.7);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
//$font: 'Hind Siliguri', sans-serif;
//@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600;700;800&display=swap');
$font: 'Muli', sans-serif;
@mixin font($color, $size, $type) {
	color: $dark-color;
	font-family: $font;
	font-size: $size;
	font-weight: $type;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
}

@mixin size($size) {
	@if $size == mobile {
		@media (min-width: 280px) and (min-height: 500px) {
			@content;
		}
	} @else if $size == mobile_min {
		@media (min-width: 360px) and (min-height: 640px) {
			@content;
		}
	} @else if $size == mobile_med {
		@media (min-width: 411px) and (min-height: 730px) {
			@content;
		}
	} @else if $size == mobile_max {
		@media (min-width: 450px) {
			@content;
		}
	} @else if $size == tablet {
		@media (min-width: 768px) {
			@content;
		}
	} @else if $size == pro {
		@media (min-width: 992px) {
			@content;
		}
	} @else if $size == hd {
		@media (min-width: 1280px) {
			@content;
		}
	} @else if $size == fullhd {
		@media (min-width: 1900px) {
			@content;
		}
	}
}

@media screen and (max-width: 767px) {
	input,
	select,
	textarea {
		font-size: 16px;
	}
}

html,
body,
body > div:first-child,
div#__next {
	height: 100%;
}
html {
	scroll-behavior: smooth;
	// overflow-x: hidden !important;
}
body {
	background-color: $dark;
	scroll-behavior: smooth;
	// @include size(mobile) {
	// 	background-color: rgb(0, 255, 0);
	// }
	// @include size(mobile_min) {
	// 	background-color: green;
	// }
	// @include size(mobile_med) {
	// 	background-color: rgb(0, 247, 255);
	// }
	// @include size(mobile_max) {
	// 	background-color: rgb(128, 115, 0);
	// }
	// @include size(tablet) {
	// 	background-color: rgb(128, 0, 117);
	// }
	// @include size(pro) {
	// 	background-color: $blue;
	// }
	// @include size(hd) {
	// 	background-color: $yellow;
	// }
	// @include size(fullhd) {
	// 	background-color: rgba(255, 238, 0, 0.829);
	// }
	@include font($dark-color, 14px, 400);
	// overflow-x: hidden !important;
}
.main {
	transition: all 0.3s ease-in-out;
	width: 100%;
	position: relative;
	&--hide {
		position: absolute;
		transform: translateY(-100%);
	}
}
h1 {
	font-size: 1.7em;
	font-weight: 700;
	padding-bottom: 5px;
}
h2 {
	font-size: 1.5em;
	font-weight: 700;
}
h3 {
	font-size: 1.3em;
	font-weight: 700;
	padding: 5px 0;
	line-height: 105%;
}
h4 {
	font-size: 1.1em;
	font-weight: 600;
	padding: 5px 0;
}
h5 {
	font-size: 1em;
	font-weight: 500;
}
b {
	font-weight: 600;
}
.hidden {
	display: none;
}

.line {
	margin: 15px 0;
	border-bottom: 1px solid rgba($dark-border, 0.9);
	display: block;
}
// .box {
// 	background: #eee;
// }

@media (prefers-color-scheme: dark) {
	.box {
		background: $color !important;
	}
}

@media (prefers-color-scheme: light) {
	.box {
		background: #fff !important;
	}
}

.main {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	background-color: $blue;
	.store {
		padding: 20px;
		text-decoration: none;
		font-weight: 700;
		background-color: $yellow;
		margin: 20px 0;
		color: black;
		border-radius: 30px;
		font-size: 1.4em;
	}
}
//loader
.loader {
	display: flex;
	align-items: center;
	&--position {
		display: flex;
		align-items: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		z-index: 3;
	}
	&__text {
		margin-left: 10px;
		font-size: 0.9em;
	}
	span,
	&__circle {
		display: inline-block;
		position: relative;
		width: 16px;
		height: 16px;
		border: 3px solid rgba($silver, 0.8);
		border-radius: 50%;
		&::before,
		&::after {
			content: '';
			box-sizing: border-box;
			display: block;
			position: absolute;
			width: 22px;
			height: 22px;
			margin: -3px;
			border: 3px solid black;
			border-radius: 50%;
			animation: loader 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
			border-color: black transparent transparent;
		}
		&::before {
			animation-delay: -0.45s;
		}
		&::after {
			animation-delay: -0.36s;
		}
		&--mini {
			transform: scale(0.8);
			transform-origin: center center;
			margin: -4px 0;
		}
	}
	@keyframes loader {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}
