.default {
	position: relative;
	background-color: white;
	width: 100%;
	min-height: 100%;
	transform: translateY(100%);
	animation: fadein;
	animation-duration: 0.2s;
	animation-delay: 0.1s;
	animation-fill-mode: both;

	&__header {
		height: 70px;
		background-color: $background;
		position: fixed !important;
		z-index: 10;
		width: 100%;
		transform: translateY(1000%);
		animation: fadeinheader;
		animation-duration: 0.2s;
		animation-delay: 0.1s;
		animation-fill-mode: both;
		@keyframes fadeinheader {
			0% {
				transform: translateY(1000%);
			}
			100% {
				transform: translateY(0);
			}
		}
		.header__avatar {
			background: white;
			height: 65px;
			width: 65px;
			box-shadow: 0 3px 6px 2px rgba(black, 0.1);
			border-radius: 50%;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			bottom: -10px;
			left: 15%;
			transform: translateX(-50%);
			font-size: 0.6em;
		}
	}
	&__location {
		background-color: $background;
		transition: all 0.2s ease-in-out;
		height: auto;
		letter-spacing: 0.3px;
		color: white;
		position: relative !important;
		.location__btn {
			background-color: $background;
			display: flex;
			padding: 15px 15px 12px;
			position: relative;
			z-index: 2;
			align-items: center;
			svg {
				fill: white;
				width: 15px;
				height: auto;
				margin-right: 8px;
			}
		}
		.location__content {
			padding: 0 15px 10px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			//transform: translateY(-100%);
			transition: all 0.2s ease-in-out;
			position: absolute;
			z-index: -1;
			top: -100%;
		}
		.location__input {
			display: none;
			&:checked ~ .location__content {
				opacity: 1;
				visibility: visible;
				top: 0;
				position: relative;
				z-index: 1;
			}
			&:checked ~ .location__btn {
				padding: 15px 15px 0px;
			}
		}
		.location__change {
			appearance: none;
			background-color: $blue;
			color: $color;
			border: 0;
			border-radius: 16px;
			padding: 3px 10px;
			@include font($color, 0.9em, 500);
		}
	}
	@keyframes fadein {
		0% {
			transform: translateY(100%);
		}
		100% {
			transform: translateY(0);
		}
	}

	&__menu {
		padding: 20px;
		background: rgb(255, 255, 255);
		position: absolute;
		width: calc(100% - 40px);
		.menu__link {
			text-decoration: none;
			@include font($color, 0.9em, 500);
			border: 1px solid $border;
			border-radius: 15px;
			padding: 5px 8px;
			margin: 4px;
			&:first-of-type {
				margin: 4px 4px 4px 0;
			}
		}
	}
	//itens cardapio
	&__content {
		background: white;
		border-bottom: 1px solid $border;
		padding: 100px 0 20px 20px;
	}
	.section__title {
		@include font($color, 1.4em, 600);
		padding: 0 0 10px;
	}
	.item {
		width: 200px !important;
		margin-right: 10px;
		outline: none !important;
		position: relative;
		height: 100% !important;
		&__image {
			background-color: $background;
			width: 100%;
			height: 150px;
			border-radius: 6px;
			position: relative;
			z-index: 2;
		}
		&__detail {
			padding: 0 10px 0 5px;
			margin: 10px 10px 10px 0;
			@include font($color, 0.95em, 400);
			line-height: 120%;
			border-right: 1px solid $border;
			min-height: 100px;
		}
		&__title {
			@include font($color, 1.3em, 600);
			padding: 0 0 5px;
		}
		&__price {
			@include font($color, 1.5em, 600);
			text-align: right;
			position: absolute;
			right: 40px;
			bottom: 12px;
		}
		&__add {
			position: absolute;
			right: -10px;
			bottom: 0px;
			width: 40px;
			height: 40px;
			background: $blue;
			border-radius: 50%;
			z-index: 5;
			&::before,
			&::after {
				height: 4px;
				width: 18px;
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				background: $color;
			}
			&::after {
				transform: translateX(-50%) translateY(-50%) rotate(90deg);
			}
		}
	}
	.carousel {
		display: flex;
		flex-flow: row wrap;
	}
}
