.default {
	position: fixed;
	background-color: $background;
	width: 100%;
	transform: translateY(100%);
	animation: fadein;
	animation-duration: 0.2s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	height: calc(100% - 130px);
	bottom: 0;
	display: block;
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 9;
	scroll-behavior: smooth;
	&--hide {
		animation: fadeout;
		animation-duration: 0.2s;
		animation-delay: 0.1s;
		animation-fill-mode: both;
	}
	&__header {
		height: 130px;
		background-color: $red;
		position: fixed !important;
		z-index: 10;
		width: 100%;
		top: 0;
		display: flex;
		align-items: flex-end;
		box-shadow: 0 2px 5px 2px rgba($color, 0.08);
		transform: translateY(100%);
		animation: fadein;
		animation-duration: 0.2s;
		animation-delay: 0.1s;
		animation-fill-mode: both;
		// transform: translateY(1000%);
		// animation: fadeinheader;
		// animation-duration: 0.2s;
		// animation-delay: 0.1s;
		// animation-fill-mode: both;
		// @keyframes fadeinheader {
		// 	0% {
		// 		transform: translateY(1000%);
		// 	}
		// 	100% {
		// 		transform: translateY(0);
		// 	}
		// }
		.header__avatar {
			background: white;
			height: 65px;
			width: 65px;
			box-shadow: 0 3px 6px 2px rgba(black, 0.1);
			border-radius: 50%;
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			bottom: 50px;
			left: 20px;

			font-size: 0.6em;
		}
		.header__content {
			padding: 10px 0 0;
			background: rgb(255, 255, 255);
			width: 100%;
			border-radius: 7px 7px 0 0;
			h3,
			p {
				padding: 2px 10px 2px 100px;
			}
		}
	}
	&__menu {
		padding: 10px 0 10px 10px;
		background: rgb(255, 255, 255);
		width: calc(100% - 10px);
		.menu__link {
			text-decoration: none;
			@include font($color, 0.85em, 400);
			//border: 1px solid rgba($color, 0.2);
			border-radius: 15px;
			padding: 5px 8px;
			margin: 4px 6px !important;
			letter-spacing: 0.2px;
			width: auto !important;
			background: rgba($color, 0.1);
			&:first-of-type {
				margin: 4px 6px 4px 0 !important;
			}
		}
	}
	&__item {
		padding: 20px 0 20px 20px;
		.section__title {
			@include font($color, 1.5em, 600);
			padding: 0 0 15px;
		}
		.item {
			width: 200px !important;
			margin-right: 14px;
			outline: none !important;
			position: relative;
			height: 100% !important;
			&__image {
				background-color: $background;
				width: 100%;
				height: 150px;
				border-radius: 8px 8px 0 0;
				position: relative;
				z-index: 2;
				background-size: 100%;
				background-position: center;
				background-repeat: no-repeat;
			}
			&__detail {
				padding: 10px;
				margin: 0;
				@include font(rgba($color, 0.8), 0.9em, 400);
				line-height: 120%;
				min-height: 110px;
				background: white;
				border-radius: 0 0 8px 8px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
			}
			&__title {
				@include font($color, 1.3em, 600);
				padding: 0 0 5px;
			}
			&__price {
				@include font($color, 1.4em, 500);
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				h4 {
					padding: 5px;
				}
			}
			&__add {
				// position: absolute;
				// right: -15px;
				// bottom: -5px;
				position: relative;
				width: 45px;
				height: 45px;
				background: $blue;
				border-radius: 8px;
				z-index: 5;
				border: 5px solid white;
				&::before,
				&::after {
					height: 3px;
					width: 16px;
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
					background: $color;
					border-radius: 1px;
				}
				&::after {
					transform: translateX(-50%) translateY(-50%) rotate(90deg);
				}
			}
			&--column {
				width: calc(100% - 20px) !important;
				margin: 0 20px 14px 0;
				border-radius: 8px;
				display: flex;
				background: white;
				height: auto !important;
				.item__image {
					background-color: white;
					flex: 120px;
					min-width: 120px;
					width: 120px;
					max-width: 120px;
					height: 130px;
					border-radius: 8px 0 0 8px;
					position: relative;
					z-index: 2;
					background-size: auto 110%;
					background-position: center;
					background-repeat: no-repeat;
				}
				.item__detail {
					flex: auto;
					padding: 12px 10px 12px 14px;
					margin: 0;
					@include font($color, 0.9em, 400);
					border-right: 0;
					min-height: auto;
					border-radius: 0 8px 8px 0;
				}
				.item__price {
					// right: 55px;
					// bottom: 22px;
				}
				.item__add {
					right: -5px;
					bottom: -5px;
				}
			}
		}
	}

	&__footer2 {
		height: 400px;
		background: white;
		width: 100%;
	}
	&__footer {
		position: fixed;
		z-index: 11;
		bottom: 0;
		padding-top: 8px;
		width: 100%;
		background: white;
		transform: translateY(100%);
		animation: fadein;
		animation-duration: 0.2s;
		animation-delay: 0.1s;
		animation-fill-mode: both;
		box-shadow: 0 -2px 4px 3px rgba($color, 0.08);
	}
	&__location {
		display: flex;
		align-items: stretch;
		justify-content: space-between;
		flex-flow: row;
		width: calc(100% - 30px);
		padding: 5px 15px 15px;
		@include font(rgba($color, 0.7), 0.9em, 400);

		.location__btn {
			width: 100%;
			height: 30px;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			transition: all 0.3s ease;
			cursor: pointer;
			&::before,
			&::after {
				height: 2px;
				width: 12px;
				content: '';
				position: absolute;
				top: 13px;
				right: 4px;
				transform: translateY(-50%) rotate(45deg);
				background: $background;
				border-radius: 1px;
				display: none;
			}
			&::after {
				transform: translateY(-50%) rotate(-45deg);
				top: 20px;
			}
			&--add {
				&::before,
				&::after {
					height: 2px;
					width: 13px;
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
					background: $background;
					border-radius: 1px;
				}
				&::after {
					transform: translateX(-50%) translateY(-50%) rotate(90deg);
				}
			}
		}
		.location__content {
			display: flex;
			align-items: center;
			flex: auto;
			margin-right: 5px;
			position: relative;
			svg {
				fill: $background;
				width: 14px;
				height: auto;
				margin-right: 8px;
			}
			.content__address {
				line-height: 120%;
				flex: auto;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.address {
					@include font($color, 1.2em, 400);
					line-height: 125%;
					&__detail {
						@include font($color, 1em, 400);

						label {
							@include font($color, 0.9em, 300);
							display: block;
						}
						span {
							display: block;
						}
						&--form {
							padding: 0px 2px 10px;
							font-weight: 600;
							line-height: 135%;
						}
					}
					&__change {
						margin: 0 0px 0 0;
					}
				}
				.show {
					display: none;
				}
			}
		}

		.location__input {
			display: none;
			&:checked ~ .location__content {
				align-items: flex-start;
				.location__btn {
					&::before,
					&::after {
						right: -5px;
						transform: translateY(-50%) rotate(-45deg);
					}
					&::after {
						transform: translateY(-50%) rotate(45deg);
					}
				}
			}

			&:checked ~ .location__btn--add {
				transform: rotate(45deg);
			}
			&:checked ~ .location__content {
				.active {
					@include font($color, 1.1em, 400);
				}
				.content__address {
					.show {
						display: block;
					}
					.hidden {
						display: none;
					}
				}
			}
			&:checked ~ .location__card {
				opacity: 0;
				visibility: hidden;
				bottom: -1000px;
				position: absolute;
			}
		}
		.location__card {
			display: flex;
			align-items: center;
			width: calc(40% - 30px);
			padding: 10px 15px;

			background-color: $red;
			@include font(white, 1em, 500);
			letter-spacing: 0.5px;
			justify-content: space-between;
			border-radius: 6px;
			svg {
				fill: white;
				width: 18px;
				height: auto;
				margin-right: 10px;
			}
		}
	}

	@keyframes fadein {
		0% {
			transform: translateY(100%);
		}
		100% {
			transform: translateY(0);
		}
	}
	@keyframes fadeout {
		0% {
			transform: translateY(0);
		}
		100% {
			transform: translateY(-100%);
		}
	}
}
.card {
	transition: all 0.3s ease-in-out;
	&__list {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 95%;
		background: white;
		z-index: 20;
		transform: translateY(100%);
		transition: all 0.2s ease-in-out;
		border-radius: 8px 8px 0 0;
		box-shadow: 0 -9px 10px 10px rgba(black, 0.2);
		visibility: hidden;
		opacity: 0;
		&--show {
			transform: translateY(0);
			visibility: visible;
			opacity: 1;
		}
		.list__image {
			max-width: 100%;
			position: relative;
			z-index: 1;
			border-radius: 8px 8px 0 0;
			&-overlay {
				position: absolute;
				width: 100%;
				height: 100%;
				background-image: linear-gradient(
					to top,
					rgba($color, 0.6),
					rgba($color, 0.1)
				);
				z-index: 3;
			}
			&-img {
				max-width: 100%;
				position: relative;
				z-index: 1;
				border-radius: 8px 8px 0 0;
			}
		}
		.list__description {
			position: absolute;
			padding: 20px;
			z-index: 4;
			bottom: 0;
			@include font(white, 1.6em, 600);
			text-shadow: 1px 1px 2px rgba($color, 0.4);
		}
		.list__destail {
			position: relative;
			@include font($color, 1em, 400);
			padding: 12px 20px;
			line-height: 120%;
		}
		.list__content {
			// height: 400px;
			background: white;
			.content__item {
				display: flex;
				padding: 10px 15px;
				justify-content: center;
				.counter {
					display: flex;
					border: 1px solid $border;
					border-radius: 30px;
					&__add {
						position: relative;
						width: 40px;
						height: 40px;
						background: white;
						border-radius: 50%;
						z-index: 5;
						border: 5px solid white;
						cursor: pointer;
						&::before,
						&::after {
							height: 3px;
							width: 15px;
							content: '';
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translateX(-50%) translateY(-50%) rotate(-90deg);
							background: $color;
							border-radius: 1px;
						}
						&::after {
							transform: translateX(-50%) translateY(-50%) rotate(180deg);
						}
					}
					&__remove {
						position: relative;
						width: 40px;
						height: 40px;
						background: white;
						border-radius: 50%;
						z-index: 5;
						border: 5px solid white;
						cursor: pointer;
						&::before {
							height: 3px;
							width: 15px;
							content: '';
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translateX(-50%) translateY(-50%) rotate(180deg);
							background: $color;
							border-radius: 1px;
						}
					}
					&__item {
						padding: 5px;
						display: flex;
						align-items: center;
						@include font($color, 1.5em, 600);
					}
					&__price {
						display: flex;
						align-items: center;
						padding-left: 12px;
						@include font($color, 1.3em, 500);
					}
				}
			}
		}
		.list__btn {
			position: absolute;
			bottom: 0px;
			width: calc(100% - 40px);
			padding: 0 20px 10px;
			display: flex;
			flex-direction: row;
			.btn__close {
				position: relative;
				width: 50px;
				height: 50px;
				background: $background;
				border-radius: 50%;
				z-index: 5;
				border: 5px solid white;

				&::before,
				&::after {
					height: 4px;
					width: 18px;
					content: '';
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%) rotate(-45deg);
					background: white;
					border-radius: 1px;
				}
				&::after {
					transform: translateX(-50%) translateY(-50%) rotate(45deg);
				}
			}
			.btn__add {
				position: relative;
				width: auto;
				flex: auto;
				height: 50px;
				background: $blue;
				border-radius: 30px;
				z-index: 5;
				border: 5px solid white;
				@include font($color, 1.1em, 600);
				&::before,
				&::after {
					height: 4px;
					width: 15px;
					content: '';
					position: absolute;
					top: 22px;
					right: 12px;
					transform: rotate(-45deg);
					background: $color;
					border-radius: 1px;
				}
				&::after {
					transform: rotate(45deg);
					top: 14px;
				}
			}
		}
	}
}
