.home {
	height: 100%;
	display: flex;
	flex-direction: column;
	background-color: $dark;
	&__logo {
		background-color: white;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		font-size: 2em;
		font-weight: 600;
		padding: 0 30px;
		transition: all 0.4s ease-in-out;
		animation: showLogo;
		animation-timing-function: ease-in-out;
		animation-duration: 0.3s;
		animation-fill-mode: both;
		animation-delay: 1s;
		&--hide {
			height: 0;
			opacity: 0;
		}
		&--erro {
			height: 100%;
			opacity: 1;
			animation: logoerro;
			animation-timing-function: ease-in-out;
			animation-duration: 0.3s;
			animation-fill-mode: both;
			animation-delay: 1s;
		}
		@keyframes logoerro {
			0% {
				height: 100%;
			}
			100% {
				height: 50%;
			}
		}
		.title {
			padding-top: 20px;
			@include font($dark, 0.8em, 700);
			color: $dark;
			opacity: 0.3;
		}
		.logo {
			width: 0;
			height: auto;
			animation: showsvg;
			animation-timing-function: ease-in-out;
			animation-duration: 0.3s;
			animation-fill-mode: both;
			animation-delay: 0.3s;
			border-radius: 50%;
		}
	}
	@keyframes showLogo {
		0% {
			height: 100%;
		}
		100% {
			height: 50%;
		}
	}
	@keyframes showsvg {
		0% {
			width: 0;
			opacity: 0;
			transform: rotate(90deg);
		}
		100% {
			height: 150px;
			width: 150px;
			background-size: 100% auto;
			background-position: center center;
			opacity: 1;
			transform: rotate(0);
			@include size(tablet) {
				width: 250px;
				height: 250px;
			}
		}
	}
	&__cep {
		background-color: $dark;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.8em;
		font-weight: 500;
		padding: 0 40px;
		position: absolute;
		bottom: -100%;
		animation: ini;
		animation-timing-function: ease-in-out;
		animation-duration: 0.3s;
		animation-fill-mode: both;
		animation-delay: 1s;
		height: 50%;
		transition: all 0.8s ease-in-out;
		width: calc(100% - 80px);
		color: $dark-color;
		input[type='text'] {
			font-weight: 600;
		}
		@include size(mobile_min) {
			font-size: 2em;
		}
		@include size(mobile_med) {
			font-size: 2em;
		}
		&--show {
			animation: show;
			animation-timing-function: ease-in-out;
			animation-duration: 0.2s;
			animation-fill-mode: both;
			animation-delay: 0.1s;
		}
		&--active {
			animation: none;
			bottom: 0;
			height: 100%;
			align-items: flex-start;
			padding: 15% 40px 0;
			height: calc(100% - 15%);
		}
		&--erro {
			transition: all 0.8s ease-in-out;
			bottom: 0 !important;
		}
		@keyframes ini {
			0% {
				bottom: -100%;
			}
			100% {
				bottom: 0;
			}
		}
		@keyframes show {
			0% {
				bottom: 0;
			}
			100% {
				bottom: 50%;
			}
		}
		.cep__detail {
			height: 0;
			width: 100%;
			position: absolute;
			left: 0;
			bottom: -100%;
			transition: all 0.5s ease-in-out;
			line-height: 0.8em;

			@include size(tablet) {
				line-height: 110%;
			}
			&--show {
				bottom: 0 !important;
				height: 45%;
				padding: 40px;
				width: calc(100% - 80px);
			}
			.cep__form {
				font-size: 0.6em;
			}
			h4 {
				font-size: 0.8em;
				padding: 0;
				max-width: 400px;
				margin: 0 auto;
			}
			h5 {
				font-size: 0.7em;
				padding: 5px 0 15px;
				max-width: 400px;
				margin: 0 auto;
			}
		}
		.cep__erro {
			font-size: 0.7em;
			padding: 10px 0;
		}
		.cep__btn {
			font-size: 1.1em;
			padding: 0;
			width: 60px;
			height: 60px;
			text-decoration: none;
			&--show {
				transform: translateX(0px);
				opacity: 1;
				visibility: visible;
			}
		}
		.cep__address {
			font-size: 0.6em;
			width: 100%;
			text-align: center;
			line-height: 150%;
			label {
				padding-bottom: 5px;
				color: $dark-color;
			}
		}
	}
	&__detail {
		background: $dark-strong;
		height: 0;
		width: 100%;
		position: absolute;
		left: 0;
		bottom: -100%;
		transition: all 0.3s ease-in-out;
		line-height: 0.8em;
		color: $dark-color;
		input[type='text'] {
			font-weight: 600;
			font-size: 0.8em;
		}
		@include size(tablet) {
			line-height: 110%;
		}
		&--show {
			bottom: 0;
			height: calc(55% - 40px);
			padding: 40px 40px 0;
			width: calc(100% - 80px);
			font-size: 1.8em;
		}
		h4 {
			font-size: 0.8em;
			padding: 0;
			max-width: 400px;
			margin: 0 auto;
		}
		h5 {
			font-size: 0.7em;
			padding: 5px 0 15px;
			max-width: 400px;
			margin: 0 auto;
		}
	}
	&__btn {
		//position: absolute;
		transform: translateX(-200px);
		opacity: 0;
		visibility: hidden;
		margin-top: 10px;
		appearance: none;
		border: 0;
		background: $yellow;
		border-radius: 30px;
		padding: 0 20px;
		width: 100%;
		height: 45px;
		min-width: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		outline: 0;
		@include font($dark, 0.7em, 700);
		color: $dark !important;
		transition: all 0.4s ease-in-out;
		cursor: pointer;
		&--open {
			transform: translateX(0px);
			opacity: 1;
			visibility: visible;
		}
	}
}
