.scheduling {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	visibility: visible;
	transition: all 0.4s ease-in-out;
	// background-image: url('/workout.jpg');
	// background-size: cover;
	overflow-x: hidden !important;

	&--hidden {
		position: absolute;
		transform: translateX(70%);
		opacity: 0;
		visibility: hidden;
		z-index: -1;
	}
	&__wrap {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba($background-strong, 0.8);
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease-in-out;
		&--show {
			z-index: 20;
			opacity: 1;
			visibility: visible;
		}
		.confirm {
			width: calc(80% - 60px);
			background-color: white;
			padding: 30px;
			color: $background-strong;
			border-radius: 4px;
			@include size(tablet) {
				width: calc(400px - 60px);
			}
			h3 {
				margin-bottom: 10px;
			}
			&__btn {
				appearance: none;
				@include font(white, 1.2em, 700);
				border: 0px solid $background;
				padding: 10px 20px;
				border-radius: 30px;
				background-color: $blue;
				transition: all 0.3s ease;
				cursor: pointer;
				&--not {
					border: 0px solid $red;
					background: $red;
				}
			}
		}
	}
	&__panel {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $background-strong;

		header {
			position: absolute;
			top: 0;
			width: calc(100% - 30px);
			padding: 20px 15px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			z-index: 10;
			background-color: $background-strong;
			opacity: 0;
			visibility: hidden;
			animation-fill-mode: both;
			animation-name: top_in;
			animation-duration: 0.2s;
			animation-delay: 0.4s;
			transform: translateY(-150%);
			@include size(tablet) {
				width: calc(100% - 60px);
				padding: 25px 30px;
			}
			.user {
				font-size: 1.4em;
				font-weight: 700;
				border: 1px solid $border;
				padding: 10px 15px;
				border-radius: 30px;
			}
			.logout {
				appearance: none;
				@include font(white, 1em, 600);
				border: 0px solid $background;
				padding: 10px 20px;
				border-radius: 30px;
				background-color: $background;
				transition: all 0.3s ease;
				cursor: pointer;
				&:hover {
					border: 0px solid $red;
					background: $red;
				}
			}
		}
		section {
			// width: 85%;
			// max-width: 600px;
			width: 85%;
			display: flex;
			flex-direction: column;
			padding-top: 100px;
			height: calc(100% - 190px);
			@include size(tablet) {
				width: 500px;
			}
		}
		.btn__day {
			font-size: 1.3em;
			font-weight: 900;
			letter-spacing: 1px;
			background-color: $background;
			padding: 15px;
			text-align: center;
			margin-bottom: 3px;
			border: 0;
			color: white;
			appearance: none;
			cursor: pointer;
			transition: all 0.3s ease-in-out;
			opacity: 0;
			visibility: hidden;
			animation-fill-mode: both;
			animation-name: fadein;
			animation-duration: 0.2s;
			position: relative;
			height: 14%;
			&:hover {
				background-color: $blue;
			}

			&:only-child {
				border-radius: 6px;
			}
			&:first-of-type {
				border-radius: 6px 6px 0 0;
			}
			&:last-of-type {
				border-radius: 0 0 6px 6px;
				margin-bottom: 12px;
			}

			&:nth-of-type(1) {
				background-color: $blue;
			}
			&:nth-of-type(2) {
				background-color: rgb(101, 26, 199);
			}
			&:nth-of-type(3) {
				background-color: rgb(153, 38, 153);
			}
			&:nth-of-type(4) {
				background-color: rgb(52, 129, 63);
			}

			&:nth-of-type(5) {
				background-color: rgb(199, 75, 26);
			}
			&:nth-of-type(6) {
				background-color: rgb(172, 137, 23);
			}
		}

		@for $i from 1 through 7 {
			.btn__day:nth-of-type(#{$i}) {
				animation-delay: #{0.5+ ($i)/7}s;
			}
		}
		.panel__hours {
			position: fixed;
			z-index: 2;
			background-color: $background-strong;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			overflow-y: auto;
			.hours {
				&__container {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					position: relative;
					padding: 100px 0 25px;
				}
				&__content {
					display: flex;
					align-items: center;
					justify-content: center;
					flex-direction: column;
					padding: 10px;
				}
				&__btn {
					font-size: 1.3em;
					font-weight: 900;
					letter-spacing: 1px;
					background-color: $blue;
					padding: 15px;
					width: 200px;
					text-align: center;
					margin-bottom: 2px;
					appearance: none;
					border: 0;
					color: $background-strong;
					cursor: pointer;
					opacity: 0;
					visibility: hidden;
					animation-fill-mode: both;
					animation-name: fadein;
					animation-duration: 0.2s;
					position: relative;
					&:hover {
						background-color: white;
					}
					&:only-child {
						border-radius: 6px;
					}
					&:first-of-type {
						border-radius: 6px 6px 0 0;
					}
					&:last-of-type {
						border-radius: 0 0 6px 6px;
						margin-bottom: 12px;
					}
					&--reserved {
						background-color: $red;
						cursor: not-allowed;
						padding: 12px;
						color: $background-strong;
						small {
							font-size: 0.8em;
							font-size: 500;
							display: block;
						}
						&:hover {
							background-color: $red;
						}
					}
				}
			}
		}
		@for $i from 1 through 15 {
			.hours__btn:nth-of-type(#{$i}) {
				animation-delay: #{0.3+ ($i)/15}s;
			}
		}
		.reserved {
			width: 80%;
			max-width: 500px;
			color: $background-strong;
			position: relative;
			background: $blue;
			border-radius: 6px;
			opacity: 0;
			visibility: hidden;
			animation-fill-mode: both;
			animation-name: bottom_in;
			animation-duration: 0.2s;
			animation-delay: 0.4s;
			transform: translateY(150%);
			&__qrcode {
				background-color: white;
				text-align: center;
				border-radius: 0 0 6px 6px;
				canvas {
					padding: 10px;
				}
			}
			&__content {
				padding: 20px;
				margin-bottom: 20px;
				svg {
					fill: $background-strong;
					width: 50px;
					height: auto;
					margin-bottom: 15px;
					@include size(tablet) {
						width: 100px;
					}
				}
			}
			&__detail {
				padding: 0 10px;
				h2 {
					line-height: 120%;
					font-weight: 900;
				}
			}
			&__remove {
				background: $blue;
				border-radius: 50%;
				position: absolute;
				right: 10px;
				top: 10px;
				width: 50px;
				height: 50px;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				svg {
					fill: $background-strong;
					width: 30px;
					height: auto;
				}
				&:hover {
					svg {
						fill: $red;
					}
				}
			}
		}
	}
	&__form {
		width: calc(90% - 60px);
		max-width: calc(500px - 60px);
		padding: 30px;
		background-color: $background;
		position: relative;
		z-index: 2;
		border-radius: 4px;
		@include size(tablet) {
			width: calc(80% - 100px);
			max-width: calc(500px - 100px);
			padding: 40px 50px;
		}

		h2 {
			font-size: 3em;
			font-weight: 900;
			padding-bottom: 15px;
			color: $blue;
		}
		h3 {
			font-size: 2em;
			font-weight: 900;
			padding-bottom: 15px;
		}
		h4 {
			font-size: 1.5em;
			font-weight: 700;
			padding-bottom: 15px;
			line-height: 120%;
			color: $red;
			&.blue {
				color: $blue !important;
			}
		}
		label {
			font-size: 1.1em;
			font-weight: 700;
			margin: 10px 0;
			display: block;
			line-height: 120%;
			opacity: 0.6;
		}
	}
	&__signin {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $background-strong;
		opacity: 0;
		visibility: hidden;
		animation-fill-mode: both;
		animation-name: fade_in;
		animation-duration: 0.3s;
		animation-delay: 0.5s;
		position: relative;
		.scheduling__form {
			opacity: 0;
			visibility: hidden;
			animation-fill-mode: both;
			animation-name: left_in;
			animation-duration: 0.3s;
			animation-delay: 0.4s;
			position: relative;
			transform: translateX(-200%);
		}
		// &::before {
		// 	position: absolute;
		// 	z-index: 1;
		// 	width: 500px;
		// 	height: 500px;
		// 	border-radius: 50%;
		// 	background-color: $blue;
		// 	top: 0;
		// 	left: 0;
		// 	transform: translateY(-50%) translateX(-50%);
		// 	content: '';
		// 	opacity: 0.2;
		// }
	}
	&__signup {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		opacity: 0;
		visibility: hidden;
		animation-fill-mode: both;
		animation-name: fade_in;
		animation-duration: 0.5s;
		animation-delay: 0.5s;
		position: relative;
		.scheduling__form {
			opacity: 0;
			visibility: hidden;
			animation-fill-mode: both;
			animation-name: left_in;
			animation-duration: 0.3s;
			animation-delay: 0.4s;
			position: relative;
			transform: translateX(-200%);
		}
	}
	&__default {
		width: 150px;
		opacity: 0;
		visibility: hidden;
		animation-fill-mode: both;
		animation-name: bottom_in;
		animation-duration: 0.1s;
		animation-delay: 0.5s;
		position: relative;
		transform: translateY(100px);
		transition: all 0.4s ease-in-out;
		.default__animation {
			opacity: 0;
			visibility: hidden;
			animation-fill-mode: both;
			animation-name: bottom_in;
			animation-duration: 0.2s;
			animation-delay: 0.4s;
			//position: absolute;
			transform: translateY(100px);
		}
	}
}

// @for $i from 1 through 10 {
// 	.animation:nth-of-type(#{$i}) {
// 		animation-delay: #{0.5+ ($i)/10}s;
// 	}
// }
@keyframes fade_in {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}
@keyframes bottom_in {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translateY(100px);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}
@keyframes top_in {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translateY(-150%);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}
@keyframes left_in {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translateX(-100%);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
		position: relative;
	}
}
@keyframes right_out {
	0% {
		opacity: 0;
		visibility: hidden;
		transform: translateX(100%);
	}
	100% {
		opacity: 1;
		visibility: visible;
		transform: translateX(0);
		position: absolute;
	}
}
