.scheduling {
	&__wrap {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba($dark-strong, 0.8);
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease-in-out;
		&--show {
			z-index: 20;
			opacity: 1;
			visibility: visible;
		}
		.confirm {
			max-width: 600px;
			background-color: $dark;
			padding: 30px;
		}
	}
	&__panel {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $dark-strong;

		header {
			position: absolute;
			top: 0;
			width: calc(100% - 60px);
			padding: 30px;
			display: flex;
			justify-content: space-between;
			z-index: 10;
			.user {
				font-size: 1.4em;
				font-weight: 700;
			}
		}
		section {
			width: 85%;
			max-width: 600px;

			display: flex;
			flex-direction: column;
		}
		.btn__day {
			font-size: 1.3em;
			font-weight: 900;
			letter-spacing: 1px;
			background-color: $dark;
			padding: 12px;
			text-align: center;
			margin-bottom: 2px;
			border: 0;
			color: white;
			appearance: none;
			cursor: pointer;
			&:only-child {
				border-radius: 6px;
			}
			&:first-of-type {
				border-radius: 6px 6px 0 0;
			}
			&:last-of-type {
				border-radius: 0 0 6px 6px;
				margin-bottom: 12px;
			}
		}
		.panel__hours {
			position: absolute;
			z-index: 2;
			background-color: $dark-strong;
			height: calc(100% - 80px);
			padding: 40px 0;
			width: 100%;
			left: 0;
			top: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			overflow-y: auto;
			.hours {
				font-size: 1.3em;
				font-weight: 900;
				letter-spacing: 1px;
				background-color: $dark;
				padding: 12px;
				width: 200px;
				text-align: center;
				margin-bottom: 2px;
				appearance: none;
				border: 0;
				color: white;

				&:last-of-type {
					border-radius: 0 0 6px 6px;
				}
				&:only-child {
					border-radius: 6px;
				}
				&:first-of-type {
					border-radius: 6px 6px 0 0;
				}
			}
		}
	}
}
